[Unit]
Description=Run the Elastic hardware collector every minute

[Timer]
OnBootSec=2min
OnUnitActiveSec=60s
AccuracySec=5s
Unit=elastic-hwstats.service

[Install]
WantedBy=timers.target
